In [ ]:
{
 "cells": [
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## Importing Libraries"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 1,
   "metadata": {},
   "outputs": [],
   "source": [
    "import pymysql\n",
    "from sqlalchemy import create_engine\n",
    "import pandas as pd\n",
    "import numpy as np\n",
    "import seaborn as sns\n",
    "import matplotlib.pyplot as plt\n",
    "from sklearn.preprocessing import MinMaxScaler\n",
    "from sklearn.linear_model import LogisticRegression\n",
    "from sklearn.model_selection import train_test_split\n",
    "from sklearn import neighbors\n",
    "from sklearn.metrics import confusion_matrix\n",
    "from sklearn.preprocessing import OneHotEncoder\n",
    "\n",
    "import getpass \n",
    "password = getpass.getpass()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## Data Exploration + Cleaning"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 237,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>rental_id</th>\n",
       "      <th>category_id</th>\n",
       "      <th>film_id</th>\n",
       "      <th>inventory_id</th>\n",
       "      <th>title</th>\n",
       "      <th>description</th>\n",
       "      <th>release_year</th>\n",
       "      <th>language_id</th>\n",
       "      <th>original_language_id</th>\n",
       "      <th>rental_duration</th>\n",
       "      <th>rental_rate</th>\n",
       "      <th>length</th>\n",
       "      <th>replacement_cost</th>\n",
       "      <th>rating</th>\n",
       "      <th>special_features</th>\n",
       "      <th>last_update</th>\n",
       "      <th>store_id</th>\n",
       "      <th>last_update</th>\n",
       "      <th>rental_date</th>\n",
       "      <th>customer_id</th>\n",
       "      <th>return_date</th>\n",
       "      <th>staff_id</th>\n",
       "      <th>last_update</th>\n",
       "      <th>last_update</th>\n",
       "      <th>name</th>\n",
       "      <th>last_update</th>\n",
       "      <th>payment_id</th>\n",
       "      <th>customer_id</th>\n",
       "      <th>staff_id</th>\n",
       "      <th>amount</th>\n",
       "      <th>payment_date</th>\n",
       "      <th>last_update</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>10895</td>\n",
       "      <td>1</td>\n",
       "      <td>19</td>\n",
       "      <td>93</td>\n",
       "      <td>AMADEUS HOLY</td>\n",
       "      <td>A Emotional Display of a Pioneer And a Technic...</td>\n",
       "      <td>2006</td>\n",
       "      <td>1</td>\n",
       "      <td>None</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>20.99</td>\n",
       "      <td>PG</td>\n",
       "      <td>Commentaries,Deleted Scenes,Behind the Scenes</td>\n",
       "      <td>2006-02-15 05:03:42</td>\n",
       "      <td>1</td>\n",
       "      <td>2006-02-15 05:09:17</td>\n",
       "      <td>2005-08-02 01:16:59</td>\n",
       "      <td>77</td>\n",
       "      <td>2005-08-03 02:41:59</td>\n",
       "      <td>2</td>\n",
       "      <td>2006-02-15 21:30:53</td>\n",
       "      <td>2006-02-15 05:07:09</td>\n",
       "      <td>Action</td>\n",
       "      <td>2006-02-15 04:46:27</td>\n",
       "      <td>2104</td>\n",
       "      <td>77</td>\n",
       "      <td>1</td>\n",
       "      <td>0.99</td>\n",
       "      <td>2005-08-02 01:16:59</td>\n",
       "      <td>2006-02-15 22:12:50</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>12268</td>\n",
       "      <td>1</td>\n",
       "      <td>19</td>\n",
       "      <td>93</td>\n",
       "      <td>AMADEUS HOLY</td>\n",
       "      <td>A Emotional Display of a Pioneer And a Technic...</td>\n",
       "      <td>2006</td>\n",
       "      <td>1</td>\n",
       "      <td>None</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>20.99</td>\n",
       "      <td>PG</td>\n",
       "      <td>Commentaries,Deleted Scenes,Behind the Scenes</td>\n",
       "      <td>2006-02-15 05:03:42</td>\n",
       "      <td>1</td>\n",
       "      <td>2006-02-15 05:09:17</td>\n",
       "      <td>2005-08-18 04:26:54</td>\n",
       "      <td>39</td>\n",
       "      <td>2005-08-23 06:40:54</td>\n",
       "      <td>2</td>\n",
       "      <td>2006-02-15 21:30:53</td>\n",
       "      <td>2006-02-15 05:07:09</td>\n",
       "      <td>Action</td>\n",
       "      <td>2006-02-15 04:46:27</td>\n",
       "      <td>1093</td>\n",
       "      <td>39</td>\n",
       "      <td>2</td>\n",
       "      <td>0.99</td>\n",
       "      <td>2005-08-18 04:26:54</td>\n",
       "      <td>2006-02-15 22:12:38</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>3150</td>\n",
       "      <td>1</td>\n",
       "      <td>19</td>\n",
       "      <td>94</td>\n",
       "      <td>AMADEUS HOLY</td>\n",
       "      <td>A Emotional Display of a Pioneer And a Technic...</td>\n",
       "      <td>2006</td>\n",
       "      <td>1</td>\n",
       "      <td>None</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>20.99</td>\n",
       "      <td>PG</td>\n",
       "      <td>Commentaries,Deleted Scenes,Behind the Scenes</td>\n",
       "      <td>2006-02-15 05:03:42</td>\n",
       "      <td>1</td>\n",
       "      <td>2006-02-15 05:09:17</td>\n",
       "      <td>2005-06-20 20:35:28</td>\n",
       "      <td>34</td>\n",
       "      <td>2005-06-26 01:01:28</td>\n",
       "      <td>1</td>\n",
       "      <td>2006-02-15 21:30:53</td>\n",
       "      <td>2006-02-15 05:07:09</td>\n",
       "      <td>Action</td>\n",
       "      <td>2006-02-15 04:46:27</td>\n",
       "      <td>930</td>\n",
       "      <td>34</td>\n",
       "      <td>1</td>\n",
       "      <td>0.99</td>\n",
       "      <td>2005-06-20 20:35:28</td>\n",
       "      <td>2006-02-15 22:12:36</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>5072</td>\n",
       "      <td>1</td>\n",
       "      <td>19</td>\n",
       "      <td>94</td>\n",
       "      <td>AMADEUS HOLY</td>\n",
       "      <td>A Emotional Display of a Pioneer And a Technic...</td>\n",
       "      <td>2006</td>\n",
       "      <td>1</td>\n",
       "      <td>None</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>20.99</td>\n",
       "      <td>PG</td>\n",
       "      <td>Commentaries,Deleted Scenes,Behind the Scenes</td>\n",
       "      <td>2006-02-15 05:03:42</td>\n",
       "      <td>1</td>\n",
       "      <td>2006-02-15 05:09:17</td>\n",
       "      <td>2005-07-09 05:01:58</td>\n",
       "      <td>254</td>\n",
       "      <td>2005-07-18 08:17:58</td>\n",
       "      <td>2</td>\n",
       "      <td>2006-02-15 21:30:53</td>\n",
       "      <td>2006-02-15 05:07:09</td>\n",
       "      <td>Action</td>\n",
       "      <td>2006-02-15 04:46:27</td>\n",
       "      <td>6848</td>\n",
       "      <td>254</td>\n",
       "      <td>1</td>\n",
       "      <td>3.99</td>\n",
       "      <td>2005-07-09 05:01:58</td>\n",
       "      <td>2006-02-15 22:14:52</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>9080</td>\n",
       "      <td>1</td>\n",
       "      <td>19</td>\n",
       "      <td>94</td>\n",
       "      <td>AMADEUS HOLY</td>\n",
       "      <td>A Emotional Display of a Pioneer And a Technic...</td>\n",
       "      <td>2006</td>\n",
       "      <td>1</td>\n",
       "      <td>None</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>20.99</td>\n",
       "      <td>PG</td>\n",
       "      <td>Commentaries,Deleted Scenes,Behind the Scenes</td>\n",
       "      <td>2006-02-15 05:03:42</td>\n",
       "      <td>1</td>\n",
       "      <td>2006-02-15 05:09:17</td>\n",
       "      <td>2005-07-30 08:02:39</td>\n",
       "      <td>276</td>\n",
       "      <td>2005-08-06 12:02:39</td>\n",
       "      <td>1</td>\n",
       "      <td>2006-02-15 21:30:53</td>\n",
       "      <td>2006-02-15 05:07:09</td>\n",
       "      <td>Action</td>\n",
       "      <td>2006-02-15 04:46:27</td>\n",
       "      <td>7479</td>\n",
       "      <td>276</td>\n",
       "      <td>1</td>\n",
       "      <td>1.99</td>\n",
       "      <td>2005-07-30 08:02:39</td>\n",
       "      <td>2006-02-15 22:15:16</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>16039</th>\n",
       "      <td>962</td>\n",
       "      <td>16</td>\n",
       "      <td>989</td>\n",
       "      <td>4535</td>\n",
       "      <td>WORKING MICROCOSMOS</td>\n",
       "      <td>A Stunning Epistle of a Dentist And a Dog who ...</td>\n",
       "      <td>2006</td>\n",
       "      <td>1</td>\n",
       "      <td>None</td>\n",
       "      <td>4</td>\n",
       "      <td>4.99</td>\n",
       "      <td>74</td>\n",
       "      <td>22.99</td>\n",
       "      <td>R</td>\n",
       "      <td>Commentaries,Deleted Scenes</td>\n",
       "      <td>2006-02-15 05:03:42</td>\n",
       "      <td>2</td>\n",
       "      <td>2006-02-15 05:09:17</td>\n",
       "      <td>2005-05-30 18:45:17</td>\n",
       "      <td>520</td>\n",
       "      <td>2005-06-05 22:47:17</td>\n",
       "      <td>1</td>\n",
       "      <td>2006-02-15 21:30:53</td>\n",
       "      <td>2006-02-15 05:07:09</td>\n",
       "      <td>Travel</td>\n",
       "      <td>2006-02-15 04:46:27</td>\n",
       "      <td>13988</td>\n",
       "      <td>520</td>\n",
       "      <td>1</td>\n",
       "      <td>6.99</td>\n",
       "      <td>2005-05-30 18:45:17</td>\n",
       "      <td>2006-02-15 22:20:53</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>16040</th>\n",
       "      <td>1292</td>\n",
       "      <td>16</td>\n",
       "      <td>989</td>\n",
       "      <td>4535</td>\n",
       "      <td>WORKING MICROCOSMOS</td>\n",
       "      <td>A Stunning Epistle of a Dentist And a Dog who ...</td>\n",
       "      <td>2006</td>\n",
       "      <td>1</td>\n",
       "      <td>None</td>\n",
       "      <td>4</td>\n",
       "      <td>4.99</td>\n",
       "      <td>74</td>\n",
       "      <td>22.99</td>\n",
       "      <td>R</td>\n",
       "      <td>Commentaries,Deleted Scenes</td>\n",
       "      <td>2006-02-15 05:03:42</td>\n",
       "      <td>2</td>\n",
       "      <td>2006-02-15 05:09:17</td>\n",
       "      <td>2005-06-15 09:03:52</td>\n",
       "      <td>178</td>\n",
       "      <td>2005-06-21 07:53:52</td>\n",
       "      <td>1</td>\n",
       "      <td>2006-02-15 21:30:53</td>\n",
       "      <td>2006-02-15 05:07:09</td>\n",
       "      <td>Travel</td>\n",
       "      <td>2006-02-15 04:46:27</td>\n",
       "      <td>4823</td>\n",
       "      <td>178</td>\n",
       "      <td>1</td>\n",
       "      <td>6.99</td>\n",
       "      <td>2005-06-15 09:03:52</td>\n",
       "      <td>2006-02-15 22:13:47</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>16041</th>\n",
       "      <td>4108</td>\n",
       "      <td>16</td>\n",
       "      <td>989</td>\n",
       "      <td>4535</td>\n",
       "      <td>WORKING MICROCOSMOS</td>\n",
       "      <td>A Stunning Epistle of a Dentist And a Dog who ...</td>\n",
       "      <td>2006</td>\n",
       "      <td>1</td>\n",
       "      <td>None</td>\n",
       "      <td>4</td>\n",
       "      <td>4.99</td>\n",
       "      <td>74</td>\n",
       "      <td>22.99</td>\n",
       "      <td>R</td>\n",
       "      <td>Commentaries,Deleted Scenes</td>\n",
       "      <td>2006-02-15 05:03:42</td>\n",
       "      <td>2</td>\n",
       "      <td>2006-02-15 05:09:17</td>\n",
       "      <td>2005-07-07 06:38:31</td>\n",
       "      <td>66</td>\n",
       "      <td>2005-07-08 10:44:31</td>\n",
       "      <td>1</td>\n",
       "      <td>2006-02-15 21:30:53</td>\n",
       "      <td>2006-02-15 05:07:09</td>\n",
       "      <td>Travel</td>\n",
       "      <td>2006-02-15 04:46:27</td>\n",
       "      <td>1800</td>\n",
       "      <td>66</td>\n",
       "      <td>1</td>\n",
       "      <td>4.99</td>\n",
       "      <td>2005-07-07 06:38:31</td>\n",
       "      <td>2006-02-15 22:12:46</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>16042</th>\n",
       "      <td>8871</td>\n",
       "      <td>16</td>\n",
       "      <td>989</td>\n",
       "      <td>4535</td>\n",
       "      <td>WORKING MICROCOSMOS</td>\n",
       "      <td>A Stunning Epistle of a Dentist And a Dog who ...</td>\n",
       "      <td>2006</td>\n",
       "      <td>1</td>\n",
       "      <td>None</td>\n",
       "      <td>4</td>\n",
       "      <td>4.99</td>\n",
       "      <td>74</td>\n",
       "      <td>22.99</td>\n",
       "      <td>R</td>\n",
       "      <td>Commentaries,Deleted Scenes</td>\n",
       "      <td>2006-02-15 05:03:42</td>\n",
       "      <td>2</td>\n",
       "      <td>2006-02-15 05:09:17</td>\n",
       "      <td>2005-07-30 00:12:41</td>\n",
       "      <td>382</td>\n",
       "      <td>2005-08-08 03:53:41</td>\n",
       "      <td>1</td>\n",
       "      <td>2006-02-15 21:30:53</td>\n",
       "      <td>2006-02-15 05:07:09</td>\n",
       "      <td>Travel</td>\n",
       "      <td>2006-02-15 04:46:27</td>\n",
       "      <td>10355</td>\n",
       "      <td>382</td>\n",
       "      <td>1</td>\n",
       "      <td>9.99</td>\n",
       "      <td>2005-07-30 00:12:41</td>\n",
       "      <td>2006-02-15 22:17:24</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>16043</th>\n",
       "      <td>15488</td>\n",
       "      <td>16</td>\n",
       "      <td>989</td>\n",
       "      <td>4535</td>\n",
       "      <td>WORKING MICROCOSMOS</td>\n",
       "      <td>A Stunning Epistle of a Dentist And a Dog who ...</td>\n",
       "      <td>2006</td>\n",
       "      <td>1</td>\n",
       "      <td>None</td>\n",
       "      <td>4</td>\n",
       "      <td>4.99</td>\n",
       "      <td>74</td>\n",
       "      <td>22.99</td>\n",
       "      <td>R</td>\n",
       "      <td>Commentaries,Deleted Scenes</td>\n",
       "      <td>2006-02-15 05:03:42</td>\n",
       "      <td>2</td>\n",
       "      <td>2006-02-15 05:09:17</td>\n",
       "      <td>2005-08-23 02:06:01</td>\n",
       "      <td>385</td>\n",
       "      <td>2005-08-29 21:35:01</td>\n",
       "      <td>2</td>\n",
       "      <td>2006-02-15 21:30:53</td>\n",
       "      <td>2006-02-15 05:07:09</td>\n",
       "      <td>Travel</td>\n",
       "      <td>2006-02-15 04:46:27</td>\n",
       "      <td>10443</td>\n",
       "      <td>385</td>\n",
       "      <td>1</td>\n",
       "      <td>6.99</td>\n",
       "      <td>2005-08-23 02:06:01</td>\n",
       "      <td>2006-02-15 22:17:28</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>16044 rows × 32 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "       rental_id  category_id  film_id  inventory_id                title  \\\n",
       "0          10895            1       19            93         AMADEUS HOLY   \n",
       "1          12268            1       19            93         AMADEUS HOLY   \n",
       "2           3150            1       19            94         AMADEUS HOLY   \n",
       "3           5072            1       19            94         AMADEUS HOLY   \n",
       "4           9080            1       19            94         AMADEUS HOLY   \n",
       "...          ...          ...      ...           ...                  ...   \n",
       "16039        962           16      989          4535  WORKING MICROCOSMOS   \n",
       "16040       1292           16      989          4535  WORKING MICROCOSMOS   \n",
       "16041       4108           16      989          4535  WORKING MICROCOSMOS   \n",
       "16042       8871           16      989          4535  WORKING MICROCOSMOS   \n",
       "16043      15488           16      989          4535  WORKING MICROCOSMOS   \n",
       "\n",
       "                                             description  release_year  \\\n",
       "0      A Emotional Display of a Pioneer And a Technic...          2006   \n",
       "1      A Emotional Display of a Pioneer And a Technic...          2006   \n",
       "2      A Emotional Display of a Pioneer And a Technic...          2006   \n",
       "3      A Emotional Display of a Pioneer And a Technic...          2006   \n",
       "4      A Emotional Display of a Pioneer And a Technic...          2006   \n",
       "...                                                  ...           ...   \n",
       "16039  A Stunning Epistle of a Dentist And a Dog who ...          2006   \n",
       "16040  A Stunning Epistle of a Dentist And a Dog who ...          2006   \n",
       "16041  A Stunning Epistle of a Dentist And a Dog who ...          2006   \n",
       "16042  A Stunning Epistle of a Dentist And a Dog who ...          2006   \n",
       "16043  A Stunning Epistle of a Dentist And a Dog who ...          2006   \n",
       "\n",
       "       language_id original_language_id  rental_duration  rental_rate  length  \\\n",
       "0                1                 None                6         0.99     113   \n",
       "1                1                 None                6         0.99     113   \n",
       "2                1                 None                6         0.99     113   \n",
       "3                1                 None                6         0.99     113   \n",
       "4                1                 None                6         0.99     113   \n",
       "...            ...                  ...              ...          ...     ...   \n",
       "16039            1                 None                4         4.99      74   \n",
       "16040            1                 None                4         4.99      74   \n",
       "16041            1                 None                4         4.99      74   \n",
       "16042            1                 None                4         4.99      74   \n",
       "16043            1                 None                4         4.99      74   \n",
       "\n",
       "       replacement_cost rating                               special_features  \\\n",
       "0                 20.99     PG  Commentaries,Deleted Scenes,Behind the Scenes   \n",
       "1                 20.99     PG  Commentaries,Deleted Scenes,Behind the Scenes   \n",
       "2                 20.99     PG  Commentaries,Deleted Scenes,Behind the Scenes   \n",
       "3                 20.99     PG  Commentaries,Deleted Scenes,Behind the Scenes   \n",
       "4                 20.99     PG  Commentaries,Deleted Scenes,Behind the Scenes   \n",
       "...                 ...    ...                                            ...   \n",
       "16039             22.99      R                    Commentaries,Deleted Scenes   \n",
       "16040             22.99      R                    Commentaries,Deleted Scenes   \n",
       "16041             22.99      R                    Commentaries,Deleted Scenes   \n",
       "16042             22.99      R                    Commentaries,Deleted Scenes   \n",
       "16043             22.99      R                    Commentaries,Deleted Scenes   \n",
       "\n",
       "              last_update  store_id         last_update         rental_date  \\\n",
       "0     2006-02-15 05:03:42         1 2006-02-15 05:09:17 2005-08-02 01:16:59   \n",
       "1     2006-02-15 05:03:42         1 2006-02-15 05:09:17 2005-08-18 04:26:54   \n",
       "2     2006-02-15 05:03:42         1 2006-02-15 05:09:17 2005-06-20 20:35:28   \n",
       "3     2006-02-15 05:03:42         1 2006-02-15 05:09:17 2005-07-09 05:01:58   \n",
       "4     2006-02-15 05:03:42         1 2006-02-15 05:09:17 2005-07-30 08:02:39   \n",
       "...                   ...       ...                 ...                 ...   \n",
       "16039 2006-02-15 05:03:42         2 2006-02-15 05:09:17 2005-05-30 18:45:17   \n",
       "16040 2006-02-15 05:03:42         2 2006-02-15 05:09:17 2005-06-15 09:03:52   \n",
       "16041 2006-02-15 05:03:42         2 2006-02-15 05:09:17 2005-07-07 06:38:31   \n",
       "16042 2006-02-15 05:03:42         2 2006-02-15 05:09:17 2005-07-30 00:12:41   \n",
       "16043 2006-02-15 05:03:42         2 2006-02-15 05:09:17 2005-08-23 02:06:01   \n",
       "\n",
       "       customer_id         return_date  staff_id         last_update  \\\n",
       "0               77 2005-08-03 02:41:59         2 2006-02-15 21:30:53   \n",
       "1               39 2005-08-23 06:40:54         2 2006-02-15 21:30:53   \n",
       "2               34 2005-06-26 01:01:28         1 2006-02-15 21:30:53   \n",
       "3              254 2005-07-18 08:17:58         2 2006-02-15 21:30:53   \n",
       "4              276 2005-08-06 12:02:39         1 2006-02-15 21:30:53   \n",
       "...            ...                 ...       ...                 ...   \n",
       "16039          520 2005-06-05 22:47:17         1 2006-02-15 21:30:53   \n",
       "16040          178 2005-06-21 07:53:52         1 2006-02-15 21:30:53   \n",
       "16041           66 2005-07-08 10:44:31         1 2006-02-15 21:30:53   \n",
       "16042          382 2005-08-08 03:53:41         1 2006-02-15 21:30:53   \n",
       "16043          385 2005-08-29 21:35:01         2 2006-02-15 21:30:53   \n",
       "\n",
       "              last_update    name         last_update  payment_id  \\\n",
       "0     2006-02-15 05:07:09  Action 2006-02-15 04:46:27        2104   \n",
       "1     2006-02-15 05:07:09  Action 2006-02-15 04:46:27        1093   \n",
       "2     2006-02-15 05:07:09  Action 2006-02-15 04:46:27         930   \n",
       "3     2006-02-15 05:07:09  Action 2006-02-15 04:46:27        6848   \n",
       "4     2006-02-15 05:07:09  Action 2006-02-15 04:46:27        7479   \n",
       "...                   ...     ...                 ...         ...   \n",
       "16039 2006-02-15 05:07:09  Travel 2006-02-15 04:46:27       13988   \n",
       "16040 2006-02-15 05:07:09  Travel 2006-02-15 04:46:27        4823   \n",
       "16041 2006-02-15 05:07:09  Travel 2006-02-15 04:46:27        1800   \n",
       "16042 2006-02-15 05:07:09  Travel 2006-02-15 04:46:27       10355   \n",
       "16043 2006-02-15 05:07:09  Travel 2006-02-15 04:46:27       10443   \n",
       "\n",
       "       customer_id  staff_id  amount        payment_date         last_update  \n",
       "0               77         1    0.99 2005-08-02 01:16:59 2006-02-15 22:12:50  \n",
       "1               39         2    0.99 2005-08-18 04:26:54 2006-02-15 22:12:38  \n",
       "2               34         1    0.99 2005-06-20 20:35:28 2006-02-15 22:12:36  \n",
       "3              254         1    3.99 2005-07-09 05:01:58 2006-02-15 22:14:52  \n",
       "4              276         1    1.99 2005-07-30 08:02:39 2006-02-15 22:15:16  \n",
       "...            ...       ...     ...                 ...                 ...  \n",
       "16039          520         1    6.99 2005-05-30 18:45:17 2006-02-15 22:20:53  \n",
       "16040          178         1    6.99 2005-06-15 09:03:52 2006-02-15 22:13:47  \n",
       "16041           66         1    4.99 2005-07-07 06:38:31 2006-02-15 22:12:46  \n",
       "16042          382         1    9.99 2005-07-30 00:12:41 2006-02-15 22:17:24  \n",
       "16043          385         1    6.99 2005-08-23 02:06:01 2006-02-15 22:17:28  \n",
       "\n",
       "[16044 rows x 32 columns]"
      ]
     },
     "execution_count": 237,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Import the 'film', 'rental' 'category', 'inventory, and 'payments' tables from the sakila database\n",
    "\n",
    "connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'\n",
    "engine = create_engine(connection_string)\n",
    "query = '''SELECT * FROM sakila.film f\n",
    "JOIN sakila.inventory i USING (film_id)\n",
    "JOIN sakila.rental fa USING (inventory_id)\n",
    "JOIN sakila.film_category fc USING (film_id)\n",
    "JOIN sakila.category c USING (category_id)\n",
    "JOIN sakila.payment p USING (rental_id);'''\n",
    "\n",
    "pd.set_option('display.max_columns', None) # Used to show all columns\n",
    "\n",
    "data_sakila = pd.read_sql_query(query, engine)\n",
    "data_sakila"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 238,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>count</th>\n",
       "      <th>mean</th>\n",
       "      <th>std</th>\n",
       "      <th>min</th>\n",
       "      <th>25%</th>\n",
       "      <th>50%</th>\n",
       "      <th>75%</th>\n",
       "      <th>max</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>rental_id</th>\n",
       "      <td>16044.0</td>\n",
       "      <td>8025.371478</td>\n",
       "      <td>4632.777249</td>\n",
       "      <td>1.00</td>\n",
       "      <td>4013.75</td>\n",
       "      <td>8025.50</td>\n",
       "      <td>12037.25</td>\n",
       "      <td>16049.00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>category_id</th>\n",
       "      <td>16044.0</td>\n",
       "      <td>8.363999</td>\n",
       "      <td>4.650700</td>\n",
       "      <td>1.00</td>\n",
       "      <td>4.00</td>\n",
       "      <td>8.00</td>\n",
       "      <td>13.00</td>\n",
       "      <td>16.00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>film_id</th>\n",
       "      <td>16044.0</td>\n",
       "      <td>501.108888</td>\n",
       "      <td>288.513529</td>\n",
       "      <td>1.00</td>\n",
       "      <td>255.00</td>\n",
       "      <td>496.00</td>\n",
       "      <td>753.00</td>\n",
       "      <td>1000.00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>inventory_id</th>\n",
       "      <td>16044.0</td>\n",
       "      <td>2291.842558</td>\n",
       "      <td>1322.210643</td>\n",
       "      <td>1.00</td>\n",
       "      <td>1154.00</td>\n",
       "      <td>2291.00</td>\n",
       "      <td>3433.00</td>\n",
       "      <td>4581.00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>release_year</th>\n",
       "      <td>16044.0</td>\n",
       "      <td>2006.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>2006.00</td>\n",
       "      <td>2006.00</td>\n",
       "      <td>2006.00</td>\n",
       "      <td>2006.00</td>\n",
       "      <td>2006.00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>language_id</th>\n",
       "      <td>16044.0</td>\n",
       "      <td>1.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>1.00</td>\n",
       "      <td>1.00</td>\n",
       "      <td>1.00</td>\n",
       "      <td>1.00</td>\n",
       "      <td>1.00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>rental_duration</th>\n",
       "      <td>16044.0</td>\n",
       "      <td>4.935490</td>\n",
       "      <td>1.401690</td>\n",
       "      <td>3.00</td>\n",
       "      <td>4.00</td>\n",
       "      <td>5.00</td>\n",
       "      <td>6.00</td>\n",
       "      <td>7.00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>rental_rate</th>\n",
       "      <td>16044.0</td>\n",
       "      <td>2.942630</td>\n",
       "      <td>1.649678</td>\n",
       "      <td>0.99</td>\n",
       "      <td>0.99</td>\n",
       "      <td>2.99</td>\n",
       "      <td>4.99</td>\n",
       "      <td>4.99</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>length</th>\n",
       "      <td>16044.0</td>\n",
       "      <td>114.971080</td>\n",
       "      <td>40.102347</td>\n",
       "      <td>46.00</td>\n",
       "      <td>81.00</td>\n",
       "      <td>114.00</td>\n",
       "      <td>148.00</td>\n",
       "      <td>185.00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>replacement_cost</th>\n",
       "      <td>16044.0</td>\n",
       "      <td>20.215443</td>\n",
       "      <td>6.081771</td>\n",
       "      <td>9.99</td>\n",
       "      <td>14.99</td>\n",
       "      <td>20.99</td>\n",
       "      <td>25.99</td>\n",
       "      <td>29.99</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>store_id</th>\n",
       "      <td>16044.0</td>\n",
       "      <td>1.506171</td>\n",
       "      <td>0.499978</td>\n",
       "      <td>1.00</td>\n",
       "      <td>1.00</td>\n",
       "      <td>2.00</td>\n",
       "      <td>2.00</td>\n",
       "      <td>2.00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>customer_id</th>\n",
       "      <td>16044.0</td>\n",
       "      <td>297.143169</td>\n",
       "      <td>172.453136</td>\n",
       "      <td>1.00</td>\n",
       "      <td>148.00</td>\n",
       "      <td>296.00</td>\n",
       "      <td>446.00</td>\n",
       "      <td>599.00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>staff_id</th>\n",
       "      <td>16044.0</td>\n",
       "      <td>1.498878</td>\n",
       "      <td>0.500014</td>\n",
       "      <td>1.00</td>\n",
       "      <td>1.00</td>\n",
       "      <td>1.00</td>\n",
       "      <td>2.00</td>\n",
       "      <td>2.00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>payment_id</th>\n",
       "      <td>16044.0</td>\n",
       "      <td>8024.483732</td>\n",
       "      <td>4632.695501</td>\n",
       "      <td>1.00</td>\n",
       "      <td>4012.75</td>\n",
       "      <td>8024.50</td>\n",
       "      <td>12036.25</td>\n",
       "      <td>16049.00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>customer_id</th>\n",
       "      <td>16044.0</td>\n",
       "      <td>297.143169</td>\n",
       "      <td>172.453136</td>\n",
       "      <td>1.00</td>\n",
       "      <td>148.00</td>\n",
       "      <td>296.00</td>\n",
       "      <td>446.00</td>\n",
       "      <td>599.00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>staff_id</th>\n",
       "      <td>16044.0</td>\n",
       "      <td>1.498005</td>\n",
       "      <td>0.500012</td>\n",
       "      <td>1.00</td>\n",
       "      <td>1.00</td>\n",
       "      <td>1.00</td>\n",
       "      <td>2.00</td>\n",
       "      <td>2.00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>amount</th>\n",
       "      <td>16044.0</td>\n",
       "      <td>4.201356</td>\n",
       "      <td>2.362961</td>\n",
       "      <td>0.00</td>\n",
       "      <td>2.99</td>\n",
       "      <td>3.99</td>\n",
       "      <td>4.99</td>\n",
       "      <td>11.99</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "                    count         mean          std      min      25%  \\\n",
       "rental_id         16044.0  8025.371478  4632.777249     1.00  4013.75   \n",
       "category_id       16044.0     8.363999     4.650700     1.00     4.00   \n",
       "film_id           16044.0   501.108888   288.513529     1.00   255.00   \n",
       "inventory_id      16044.0  2291.842558  1322.210643     1.00  1154.00   \n",
       "release_year      16044.0  2006.000000     0.000000  2006.00  2006.00   \n",
       "language_id       16044.0     1.000000     0.000000     1.00     1.00   \n",
       "rental_duration   16044.0     4.935490     1.401690     3.00     4.00   \n",
       "rental_rate       16044.0     2.942630     1.649678     0.99     0.99   \n",
       "length            16044.0   114.971080    40.102347    46.00    81.00   \n",
       "replacement_cost  16044.0    20.215443     6.081771     9.99    14.99   \n",
       "store_id          16044.0     1.506171     0.499978     1.00     1.00   \n",
       "customer_id       16044.0   297.143169   172.453136     1.00   148.00   \n",
       "staff_id          16044.0     1.498878     0.500014     1.00     1.00   \n",
       "payment_id        16044.0  8024.483732  4632.695501     1.00  4012.75   \n",
       "customer_id       16044.0   297.143169   172.453136     1.00   148.00   \n",
       "staff_id          16044.0     1.498005     0.500012     1.00     1.00   \n",
       "amount            16044.0     4.201356     2.362961     0.00     2.99   \n",
       "\n",
       "                      50%       75%       max  \n",
       "rental_id         8025.50  12037.25  16049.00  \n",
       "category_id          8.00     13.00     16.00  \n",
       "film_id            496.00    753.00   1000.00  \n",
       "inventory_id      2291.00   3433.00   4581.00  \n",
       "release_year      2006.00   2006.00   2006.00  \n",
       "language_id          1.00      1.00      1.00  \n",
       "rental_duration      5.00      6.00      7.00  \n",
       "rental_rate          2.99      4.99      4.99  \n",
       "length             114.00    148.00    185.00  \n",
       "replacement_cost    20.99     25.99     29.99  \n",
       "store_id             2.00      2.00      2.00  \n",
       "customer_id        296.00    446.00    599.00  \n",
       "staff_id             1.00      2.00      2.00  \n",
       "payment_id        8024.50  12036.25  16049.00  \n",
       "customer_id        296.00    446.00    599.00  \n",
       "staff_id             1.00      2.00      2.00  \n",
       "amount               3.99      4.99     11.99  "
      ]
     },
     "execution_count": 238,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "data_sakila.describe().T"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Check frequency of NaNs by column and determine how to handle them. \n",
    "# Looks like 'original_language_id' is mostly nan (and unhelpful) so we will drop the column later\n",
    "\n",
    "data_sakila.isna().sum()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Look at and drop duplicates rows. This gives me an error message which I assume means there are no duplicates \n",
    "# (and may be a function of joining the tables via pandas instead of SQL)\n",
    "\n",
    "print(data_sakila[data_sakila.duplicated()])\n",
    "data_sakila.drop_duplicates()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Checking values in each column to see if they can be disposed of. This would make more sense as a loop or a display all...I know\n",
    "\n",
    "data_sakila['language_id'].unique\n",
    "data_sakila['release_year'].unique\n",
    "data_sakila['rental_duration'].unique\n",
    "data_sakila['rating'].unique\n",
    "data_sakila['replacement_cost'].unique\n",
    "data_sakila['special_features'].unique()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 239,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "(16044, 8)\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>film_id</th>\n",
       "      <th>rental_duration</th>\n",
       "      <th>rental_rate</th>\n",
       "      <th>length</th>\n",
       "      <th>rating</th>\n",
       "      <th>store_id</th>\n",
       "      <th>name</th>\n",
       "      <th>amount</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>1</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>1</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>1</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>1</td>\n",
       "      <td>Action</td>\n",
       "      <td>3.99</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>1</td>\n",
       "      <td>Action</td>\n",
       "      <td>1.99</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "   film_id  rental_duration  rental_rate  length rating  store_id    name  \\\n",
       "0       19                6         0.99     113     PG         1  Action   \n",
       "1       19                6         0.99     113     PG         1  Action   \n",
       "2       19                6         0.99     113     PG         1  Action   \n",
       "3       19                6         0.99     113     PG         1  Action   \n",
       "4       19                6         0.99     113     PG         1  Action   \n",
       "\n",
       "   amount  \n",
       "0    0.99  \n",
       "1    0.99  \n",
       "2    0.99  \n",
       "3    3.99  \n",
       "4    1.99  "
      ]
     },
     "execution_count": 239,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Remove duplicate columns and those columns that will not work / that we do not want in the model\n",
    "\n",
    "data = data_sakila.drop(['category_id', 'rental_id', 'inventory_id', 'description', 'release_year', 'language_id', 'original_language_id', 'last_update',\n",
    "                     'last_update', 'rental_date', 'customer_id', 'return_date', 'staff_id', 'replacement_cost', 'payment_id', 'payment_date', 'special_features', 'title'], axis=1)\n",
    "\n",
    "print(data.shape)\n",
    "data.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 240,
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "/var/folders/kp/1thpb47s3s540gy9cm49qr740000gn/T/ipykernel_14646/644870431.py:3: SettingWithCopyWarning: \n",
      "A value is trying to be set on a copy of a slice from a DataFrame.\n",
      "Try using .loc[row_indexer,col_indexer] = value instead\n",
      "\n",
      "See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n",
      "  data['duration_of_rental'] = (data_sakila['return_date'] - data_sakila['rental_date'])\n",
      "/var/folders/kp/1thpb47s3s540gy9cm49qr740000gn/T/ipykernel_14646/644870431.py:15: SettingWithCopyWarning: \n",
      "A value is trying to be set on a copy of a slice from a DataFrame.\n",
      "Try using .loc[row_indexer,col_indexer] = value instead\n",
      "\n",
      "See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n",
      "  data['duration_of_rental'] = data['duration_of_rental'].replace({np.nan: time_median}).dt.days\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>film_id</th>\n",
       "      <th>rental_duration</th>\n",
       "      <th>rental_rate</th>\n",
       "      <th>length</th>\n",
       "      <th>rating</th>\n",
       "      <th>store_id</th>\n",
       "      <th>name</th>\n",
       "      <th>amount</th>\n",
       "      <th>duration_of_rental</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>1</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>1</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "      <td>5</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>1</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "      <td>5</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>1</td>\n",
       "      <td>Action</td>\n",
       "      <td>3.99</td>\n",
       "      <td>9</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>1</td>\n",
       "      <td>Action</td>\n",
       "      <td>1.99</td>\n",
       "      <td>7</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "   film_id  rental_duration  rental_rate  length rating  store_id    name  \\\n",
       "0       19                6         0.99     113     PG         1  Action   \n",
       "1       19                6         0.99     113     PG         1  Action   \n",
       "2       19                6         0.99     113     PG         1  Action   \n",
       "3       19                6         0.99     113     PG         1  Action   \n",
       "4       19                6         0.99     113     PG         1  Action   \n",
       "\n",
       "   amount  duration_of_rental  \n",
       "0    0.99                   1  \n",
       "1    0.99                   5  \n",
       "2    0.99                   5  \n",
       "3    3.99                   9  \n",
       "4    1.99                   7  "
      ]
     },
     "execution_count": 240,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Create a new column for duration of customer rental which is return date - rental date (a timedelta64 dtype):\n",
    "\n",
    "data['duration_of_rental'] = (data_sakila['return_date'] - data_sakila['rental_date'])\n",
    "\n",
    "data.head() # This returns 184 NaTs in the new column\n",
    "\n",
    "sum(data['duration_of_rental'].isna())\n",
    "\n",
    "# Replace the NaTs with the column median \n",
    "\n",
    "time_median = data['duration_of_rental'].median()\n",
    "\n",
    "time_median\n",
    "\n",
    "data['duration_of_rental'] = data['duration_of_rental'].replace({np.nan: time_median}).dt.days\n",
    "\n",
    "data.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 241,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "(16044, 10)\n"
     ]
    },
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "/var/folders/kp/1thpb47s3s540gy9cm49qr740000gn/T/ipykernel_14646/1092396033.py:3: SettingWithCopyWarning: \n",
      "A value is trying to be set on a copy of a slice from a DataFrame.\n",
      "Try using .loc[row_indexer,col_indexer] = value instead\n",
      "\n",
      "See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n",
      "  data['may_target'] = pd.DatetimeIndex(data_sakila['rental_date']).month\n",
      "/var/folders/kp/1thpb47s3s540gy9cm49qr740000gn/T/ipykernel_14646/1092396033.py:15: SettingWithCopyWarning: \n",
      "A value is trying to be set on a copy of a slice from a DataFrame.\n",
      "Try using .loc[row_indexer,col_indexer] = value instead\n",
      "\n",
      "See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n",
      "  data['may_target'] = list(map(boolean,data['may_target']))\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>film_id</th>\n",
       "      <th>rental_duration</th>\n",
       "      <th>rental_rate</th>\n",
       "      <th>length</th>\n",
       "      <th>rating</th>\n",
       "      <th>store_id</th>\n",
       "      <th>name</th>\n",
       "      <th>amount</th>\n",
       "      <th>duration_of_rental</th>\n",
       "      <th>may_target</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>1</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>1</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "      <td>5</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>1</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "      <td>5</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>1</td>\n",
       "      <td>Action</td>\n",
       "      <td>3.99</td>\n",
       "      <td>9</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>1</td>\n",
       "      <td>Action</td>\n",
       "      <td>1.99</td>\n",
       "      <td>7</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>1</td>\n",
       "      <td>Action</td>\n",
       "      <td>1.99</td>\n",
       "      <td>6</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>6</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>1</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "      <td>1</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>1</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "      <td>3</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>1</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "      <td>5</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>1</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "      <td>5</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "   film_id  rental_duration  rental_rate  length rating  store_id    name  \\\n",
       "0       19                6         0.99     113     PG         1  Action   \n",
       "1       19                6         0.99     113     PG         1  Action   \n",
       "2       19                6         0.99     113     PG         1  Action   \n",
       "3       19                6         0.99     113     PG         1  Action   \n",
       "4       19                6         0.99     113     PG         1  Action   \n",
       "5       19                6         0.99     113     PG         1  Action   \n",
       "6       19                6         0.99     113     PG         1  Action   \n",
       "7       19                6         0.99     113     PG         1  Action   \n",
       "8       19                6         0.99     113     PG         1  Action   \n",
       "9       19                6         0.99     113     PG         1  Action   \n",
       "\n",
       "   amount  duration_of_rental  may_target  \n",
       "0    0.99                   1           0  \n",
       "1    0.99                   5           0  \n",
       "2    0.99                   5           0  \n",
       "3    3.99                   9           0  \n",
       "4    1.99                   7           0  \n",
       "5    1.99                   6           0  \n",
       "6    0.99                   1           1  \n",
       "7    0.99                   3           0  \n",
       "8    0.99                   5           0  \n",
       "9    0.99                   5           0  "
      ]
     },
     "execution_count": 241,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Create the target - likelihood that the film is rented in (May)\n",
    "\n",
    "data['may_target'] = pd.DatetimeIndex(data_sakila['rental_date']).month\n",
    "\n",
    "data.head()\n",
    "\n",
    "# Then convert that into a boolean operator so if May (5) then True. Everything else is False. \n",
    "\n",
    "def boolean(x):\n",
    "    if x==5:\n",
    "        return 1\n",
    "    else:\n",
    "        return 0\n",
    "\n",
    "data['may_target'] = list(map(boolean,data['may_target']))\n",
    "\n",
    "print(data.shape)\n",
    "data.head(10)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 242,
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "/var/folders/kp/1thpb47s3s540gy9cm49qr740000gn/T/ipykernel_14646/1330393693.py:9: SettingWithCopyWarning: \n",
      "A value is trying to be set on a copy of a slice from a DataFrame.\n",
      "Try using .loc[row_indexer,col_indexer] = value instead\n",
      "\n",
      "See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n",
      "  data['store_id'] = list(map(alpha,data['store_id']))\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>film_id</th>\n",
       "      <th>rental_duration</th>\n",
       "      <th>rental_rate</th>\n",
       "      <th>length</th>\n",
       "      <th>rating</th>\n",
       "      <th>store_id</th>\n",
       "      <th>name</th>\n",
       "      <th>amount</th>\n",
       "      <th>duration_of_rental</th>\n",
       "      <th>may_target</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>A</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>A</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "      <td>5</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>A</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "      <td>5</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>A</td>\n",
       "      <td>Action</td>\n",
       "      <td>3.99</td>\n",
       "      <td>9</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>A</td>\n",
       "      <td>Action</td>\n",
       "      <td>1.99</td>\n",
       "      <td>7</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>A</td>\n",
       "      <td>Action</td>\n",
       "      <td>1.99</td>\n",
       "      <td>6</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>6</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>A</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "      <td>1</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>A</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "      <td>3</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>A</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "      <td>5</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>A</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "      <td>5</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>10</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>A</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>11</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>A</td>\n",
       "      <td>Action</td>\n",
       "      <td>3.99</td>\n",
       "      <td>8</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>A</td>\n",
       "      <td>Action</td>\n",
       "      <td>3.99</td>\n",
       "      <td>9</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>13</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>B</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "      <td>3</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>14</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>B</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "      <td>2</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>15</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>B</td>\n",
       "      <td>Action</td>\n",
       "      <td>1.99</td>\n",
       "      <td>7</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>16</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>B</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "      <td>5</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>17</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>B</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>18</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>B</td>\n",
       "      <td>Action</td>\n",
       "      <td>0.99</td>\n",
       "      <td>2</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>19</th>\n",
       "      <td>19</td>\n",
       "      <td>6</td>\n",
       "      <td>0.99</td>\n",
       "      <td>113</td>\n",
       "      <td>PG</td>\n",
       "      <td>B</td>\n",
       "      <td>Action</td>\n",
       "      <td>1.99</td>\n",
       "      <td>7</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "    film_id  rental_duration  rental_rate  length rating store_id    name  \\\n",
       "0        19                6         0.99     113     PG        A  Action   \n",
       "1        19                6         0.99     113     PG        A  Action   \n",
       "2        19                6         0.99     113     PG        A  Action   \n",
       "3        19                6         0.99     113     PG        A  Action   \n",
       "4        19                6         0.99     113     PG        A  Action   \n",
       "5        19                6         0.99     113     PG        A  Action   \n",
       "6        19                6         0.99     113     PG        A  Action   \n",
       "7        19                6         0.99     113     PG        A  Action   \n",
       "8        19                6         0.99     113     PG        A  Action   \n",
       "9        19                6         0.99     113     PG        A  Action   \n",
       "10       19                6         0.99     113     PG        A  Action   \n",
       "11       19                6         0.99     113     PG        A  Action   \n",
       "12       19                6         0.99     113     PG        A  Action   \n",
       "13       19                6         0.99     113     PG        B  Action   \n",
       "14       19                6         0.99     113     PG        B  Action   \n",
       "15       19                6         0.99     113     PG        B  Action   \n",
       "16       19                6         0.99     113     PG        B  Action   \n",
       "17       19                6         0.99     113     PG        B  Action   \n",
       "18       19                6         0.99     113     PG        B  Action   \n",
       "19       19                6         0.99     113     PG        B  Action   \n",
       "\n",
       "    amount  duration_of_rental  may_target  \n",
       "0     0.99                   1           0  \n",
       "1     0.99                   5           0  \n",
       "2     0.99                   5           0  \n",
       "3     3.99                   9           0  \n",
       "4     1.99                   7           0  \n",
       "5     1.99                   6           0  \n",
       "6     0.99                   1           1  \n",
       "7     0.99                   3           0  \n",
       "8     0.99                   5           0  \n",
       "9     0.99                   5           0  \n",
       "10    0.99                   1           0  \n",
       "11    3.99                   8           0  \n",
       "12    3.99                   9           0  \n",
       "13    0.99                   3           0  \n",
       "14    0.99                   2           0  \n",
       "15    1.99                   7           0  \n",
       "16    0.99                   5           0  \n",
       "17    0.99                   1           0  \n",
       "18    0.99                   2           0  \n",
       "19    1.99                   7           0  "
      ]
     },
     "execution_count": 242,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Convert store_id to a categorical variable (either store one or store 2) before we scale/encode\n",
    "\n",
    "def alpha(i):\n",
    "    if i==1:\n",
    "        return 'A'\n",
    "    else:\n",
    "        return 'B'\n",
    "\n",
    "data['store_id'] = list(map(alpha,data['store_id']))\n",
    "\n",
    "data.head(20)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    "# corr_matrix=data.corr(method='pearson')\n",
    "# fig, ax = plt.subplots(figsize=(10, 8))\n",
    "# ax = sns.heatmap(corr_matrix, cmap='mako_r', annot=True)\n",
    "# plt.show()\n",
    "\n",
    "# Correlation matrix looks good. Low multicolinearity between the independent variables (features). Should remove categoricals but too lazy."
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## Making the Model"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 252,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Split the data into features and target\n",
    "\n",
    "y = data['may_target']\n",
    "X = data.drop(['may_target', 'film_id', 'title'], axis=1)\n",
    "\n",
    "# Train transformation on training set only\n",
    "\n",
    "X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1337)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 253,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>rental_duration</th>\n",
       "      <th>rental_rate</th>\n",
       "      <th>length</th>\n",
       "      <th>amount</th>\n",
       "      <th>duration_of_rental</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>1.00</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.064748</td>\n",
       "      <td>0.082569</td>\n",
       "      <td>0.333333</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>0.50</td>\n",
       "      <td>1.0</td>\n",
       "      <td>0.244604</td>\n",
       "      <td>0.416180</td>\n",
       "      <td>0.555556</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>1.00</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.460432</td>\n",
       "      <td>0.165972</td>\n",
       "      <td>0.888889</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>0.00</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.172662</td>\n",
       "      <td>0.249374</td>\n",
       "      <td>0.444444</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>1.00</td>\n",
       "      <td>0.5</td>\n",
       "      <td>0.237410</td>\n",
       "      <td>0.249374</td>\n",
       "      <td>0.555556</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12830</th>\n",
       "      <td>0.00</td>\n",
       "      <td>0.5</td>\n",
       "      <td>0.539568</td>\n",
       "      <td>0.416180</td>\n",
       "      <td>0.444444</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12831</th>\n",
       "      <td>1.00</td>\n",
       "      <td>1.0</td>\n",
       "      <td>0.856115</td>\n",
       "      <td>0.499583</td>\n",
       "      <td>0.777778</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12832</th>\n",
       "      <td>0.25</td>\n",
       "      <td>0.5</td>\n",
       "      <td>0.697842</td>\n",
       "      <td>0.249374</td>\n",
       "      <td>0.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12833</th>\n",
       "      <td>0.75</td>\n",
       "      <td>0.5</td>\n",
       "      <td>0.964029</td>\n",
       "      <td>0.249374</td>\n",
       "      <td>0.222222</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12834</th>\n",
       "      <td>0.00</td>\n",
       "      <td>0.5</td>\n",
       "      <td>0.539568</td>\n",
       "      <td>0.666389</td>\n",
       "      <td>0.777778</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>12835 rows × 5 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "       rental_duration  rental_rate    length    amount  duration_of_rental\n",
       "0                 1.00          0.0  0.064748  0.082569            0.333333\n",
       "1                 0.50          1.0  0.244604  0.416180            0.555556\n",
       "2                 1.00          0.0  0.460432  0.165972            0.888889\n",
       "3                 0.00          0.0  0.172662  0.249374            0.444444\n",
       "4                 1.00          0.5  0.237410  0.249374            0.555556\n",
       "...                ...          ...       ...       ...                 ...\n",
       "12830             0.00          0.5  0.539568  0.416180            0.444444\n",
       "12831             1.00          1.0  0.856115  0.499583            0.777778\n",
       "12832             0.25          0.5  0.697842  0.249374            0.000000\n",
       "12833             0.75          0.5  0.964029  0.249374            0.222222\n",
       "12834             0.00          0.5  0.539568  0.666389            0.777778\n",
       "\n",
       "[12835 rows x 5 columns]"
      ]
     },
     "execution_count": 253,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Isolate the numerical features we want (and remove film_id to be concatenated back at the end):\n",
    "\n",
    "X_train_num = X_train.select_dtypes(include = np.number)\n",
    "\n",
    "# Use minmaxscaler to normalize the numerical features:\n",
    "\n",
    "transformer = MinMaxScaler().fit(X_train_num) \n",
    "X_train_normalized = transformer.transform(X_train_num)\n",
    "X_train_norm = pd.DataFrame(X_train_normalized, columns=X_train_num.columns)\n",
    "\n",
    "X_train_norm # Check that we dropped categoricals and values are between 0 and 1"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 255,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>rating_NC-17</th>\n",
       "      <th>rating_PG</th>\n",
       "      <th>rating_PG-13</th>\n",
       "      <th>rating_R</th>\n",
       "      <th>store_id_B</th>\n",
       "      <th>name_Animation</th>\n",
       "      <th>name_Children</th>\n",
       "      <th>name_Classics</th>\n",
       "      <th>name_Comedy</th>\n",
       "      <th>name_Documentary</th>\n",
       "      <th>name_Drama</th>\n",
       "      <th>name_Family</th>\n",
       "      <th>name_Foreign</th>\n",
       "      <th>name_Games</th>\n",
       "      <th>name_Horror</th>\n",
       "      <th>name_Music</th>\n",
       "      <th>name_New</th>\n",
       "      <th>name_Sci-Fi</th>\n",
       "      <th>name_Sports</th>\n",
       "      <th>name_Travel</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>1.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>1.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>1.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>0.0</td>\n",
       "      <td>1.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>1.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>1.0</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>1.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>0.0</td>\n",
       "      <td>1.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>1.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>1.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>1.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>1.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "   rating_NC-17  rating_PG  rating_PG-13  rating_R  store_id_B  \\\n",
       "0           1.0        0.0           0.0       0.0         1.0   \n",
       "1           0.0        1.0           0.0       0.0         1.0   \n",
       "2           0.0        0.0           1.0       0.0         0.0   \n",
       "3           0.0        1.0           0.0       0.0         0.0   \n",
       "4           0.0        0.0           1.0       0.0         1.0   \n",
       "\n",
       "   name_Animation  name_Children  name_Classics  name_Comedy  \\\n",
       "0             0.0            0.0            0.0          0.0   \n",
       "1             0.0            0.0            0.0          0.0   \n",
       "2             0.0            0.0            0.0          0.0   \n",
       "3             0.0            0.0            0.0          0.0   \n",
       "4             0.0            0.0            0.0          0.0   \n",
       "\n",
       "   name_Documentary  name_Drama  name_Family  name_Foreign  name_Games  \\\n",
       "0               0.0         0.0          0.0           0.0         0.0   \n",
       "1               0.0         0.0          0.0           0.0         0.0   \n",
       "2               0.0         0.0          0.0           0.0         0.0   \n",
       "3               1.0         0.0          0.0           0.0         0.0   \n",
       "4               0.0         0.0          0.0           1.0         0.0   \n",
       "\n",
       "   name_Horror  name_Music  name_New  name_Sci-Fi  name_Sports  name_Travel  \n",
       "0          0.0         0.0       0.0          0.0          0.0          1.0  \n",
       "1          0.0         0.0       0.0          0.0          1.0          0.0  \n",
       "2          0.0         0.0       0.0          0.0          0.0          0.0  \n",
       "3          0.0         0.0       0.0          0.0          0.0          0.0  \n",
       "4          0.0         0.0       0.0          0.0          0.0          0.0  "
      ]
     },
     "execution_count": 255,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Encode the categorical variables (only the 'ratings' and 'category_name' columns in this case)\n",
    "\n",
    "X_train_categorical = X_train.select_dtypes(include = object)\n",
    "X_train_categorical \n",
    "\n",
    "encoder = OneHotEncoder(drop='first').fit(X_train_categorical)\n",
    "encoded = encoder.transform(X_train_categorical).toarray()\n",
    "\n",
    "cols = encoder.get_feature_names(input_features=X_train_categorical.columns)\n",
    "\n",
    "X_train_cat = onehot_encoded = pd.DataFrame(encoded, columns=cols)\n",
    "X_train_cat.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 256,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "array([[1.        , 0.        , 0.0647482 , ..., 0.        , 0.        ,\n",
       "        1.        ],\n",
       "       [0.5       , 1.        , 0.24460432, ..., 0.        , 1.        ,\n",
       "        0.        ],\n",
       "       [1.        , 0.        , 0.46043165, ..., 0.        , 0.        ,\n",
       "        0.        ],\n",
       "       ...,\n",
       "       [0.25      , 0.5       , 0.69784173, ..., 0.        , 0.        ,\n",
       "        0.        ],\n",
       "       [0.75      , 0.5       , 0.96402878, ..., 0.        , 0.        ,\n",
       "        0.        ],\n",
       "       [0.        , 0.5       , 0.53956835, ..., 0.        , 0.        ,\n",
       "        0.        ]])"
      ]
     },
     "execution_count": 256,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "X_train_transformed = np.concatenate([X_train_norm, X_train_cat], axis=1)\n",
    "X_train_transformed"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 257,
   "metadata": {},
   "outputs": [],
   "source": [
    "classification = LogisticRegression(random_state=0, solver='lbfgs',\n",
    "                  multi_class='multinomial').fit(X_train_transformed, y_train)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 259,
   "metadata": {},
   "outputs": [],
   "source": [
    "# for numericals\n",
    "X_test_num = X_test.select_dtypes(include = np.number)\n",
    "X_test_num \n",
    "\n",
    "# Scaling data\n",
    "# we use the transformer that was trained on the training data\n",
    "X_test_normalized = transformer.transform(X_test_num)\n",
    "X_test_norm = pd.DataFrame(X_test_normalized)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 260,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>rating_NC-17</th>\n",
       "      <th>rating_PG</th>\n",
       "      <th>rating_PG-13</th>\n",
       "      <th>rating_R</th>\n",
       "      <th>store_id_B</th>\n",
       "      <th>name_Animation</th>\n",
       "      <th>name_Children</th>\n",
       "      <th>name_Classics</th>\n",
       "      <th>name_Comedy</th>\n",
       "      <th>name_Documentary</th>\n",
       "      <th>name_Drama</th>\n",
       "      <th>name_Family</th>\n",
       "      <th>name_Foreign</th>\n",
       "      <th>name_Games</th>\n",
       "      <th>name_Horror</th>\n",
       "      <th>name_Music</th>\n",
       "      <th>name_New</th>\n",
       "      <th>name_Sci-Fi</th>\n",
       "      <th>name_Sports</th>\n",
       "      <th>name_Travel</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>1.0</td>\n",
       "      <td>1.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>1.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>1.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>1.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>1.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>1.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>1.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>1.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>1.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>1.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>1.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>1.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "   rating_NC-17  rating_PG  rating_PG-13  rating_R  store_id_B  \\\n",
       "0           0.0        0.0           0.0       1.0         1.0   \n",
       "1           1.0        0.0           0.0       0.0         1.0   \n",
       "2           0.0        0.0           1.0       0.0         1.0   \n",
       "3           0.0        0.0           1.0       0.0         0.0   \n",
       "4           1.0        0.0           0.0       0.0         0.0   \n",
       "\n",
       "   name_Animation  name_Children  name_Classics  name_Comedy  \\\n",
       "0             0.0            0.0            0.0          0.0   \n",
       "1             0.0            0.0            0.0          0.0   \n",
       "2             0.0            0.0            0.0          0.0   \n",
       "3             0.0            1.0            0.0          0.0   \n",
       "4             0.0            1.0            0.0          0.0   \n",
       "\n",
       "   name_Documentary  name_Drama  name_Family  name_Foreign  name_Games  \\\n",
       "0               0.0         0.0          0.0           0.0         0.0   \n",
       "1               0.0         0.0          0.0           0.0         0.0   \n",
       "2               0.0         0.0          0.0           0.0         0.0   \n",
       "3               0.0         0.0          0.0           0.0         0.0   \n",
       "4               0.0         0.0          0.0           0.0         0.0   \n",
       "\n",
       "   name_Horror  name_Music  name_New  name_Sci-Fi  name_Sports  name_Travel  \n",
       "0          0.0         0.0       0.0          0.0          0.0          1.0  \n",
       "1          0.0         0.0       0.0          1.0          0.0          0.0  \n",
       "2          1.0         0.0       0.0          0.0          0.0          0.0  \n",
       "3          0.0         0.0       0.0          0.0          0.0          0.0  \n",
       "4          0.0         0.0       0.0          0.0          0.0          0.0  "
      ]
     },
     "execution_count": 260,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# for categoricals\n",
    "X_test_categorical = X_test.select_dtypes(include = object)\n",
    "\n",
    "# Encode again\n",
    "encoder = OneHotEncoder(drop='first').fit(X_test_categorical)\n",
    "encoded = encoder.transform(X_test_categorical).toarray()\n",
    "\n",
    "cols = encoder.get_feature_names(input_features=X_test_categorical.columns)\n",
    "\n",
    "X_test_cat = onehot_encoded = pd.DataFrame(encoded, columns=cols)\n",
    "X_test_cat.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 261,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "array([[0.5       , 0.        , 0.4676259 , ..., 0.        , 0.        ,\n",
       "        1.        ],\n",
       "       [0.        , 0.        , 0.10791367, ..., 1.        , 0.        ,\n",
       "        0.        ],\n",
       "       [1.        , 0.5       , 0.53956835, ..., 0.        , 0.        ,\n",
       "        0.        ],\n",
       "       ...,\n",
       "       [0.25      , 0.        , 0.05755396, ..., 0.        , 0.        ,\n",
       "        0.        ],\n",
       "       [0.75      , 1.        , 0.07194245, ..., 0.        , 0.        ,\n",
       "        0.        ],\n",
       "       [0.5       , 0.        , 0.41007194, ..., 0.        , 0.        ,\n",
       "        0.        ]])"
      ]
     },
     "execution_count": 261,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "X_test_transformed = np.concatenate([X_test_norm, X_test_cat], axis=1)\n",
    "\n",
    "X_test_transformed"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 262,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "0.9267684636958554"
      ]
     },
     "execution_count": 262,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "predictions = classification.predict(X_test_transformed)\n",
    "classification.score(X_test_transformed, y_test)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 266,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "0    2974\n",
      "1     235\n",
      "Name: may_target, dtype: int64\n"
     ]
    }
   ],
   "source": [
    "print(y_test.value_counts())"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 267,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "0    3209\n",
       "dtype: int64"
      ]
     },
     "execution_count": 267,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "pd.Series(predictions).value_counts()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 268,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "array([[2974,    0],\n",
       "       [ 235,    0]])"
      ]
     },
     "execution_count": 268,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "from sklearn.metrics import confusion_matrix\n",
    "confusion_matrix(y_test, predictions)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Not likely to have a lot of rentals in May. Most of the historical rentals are in August"
   ]
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3.9.4 64-bit",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.9.4"
  },
  "orig_nbformat": 4,
  "vscode": {
   "interpreter": {
    "hash": "aee8b7b246df8f9039afb4144a1f6fd8d2ca17a180786b69acc140d282b71a49"
   }
  }
 },
 "nbformat": 4,
 "nbformat_minor": 2
}